node_modules
dist
dist-ssr
*.local
.DS_Store
.vite

# Capacitor / Android build output
android/.gradle
android/app/build
android/build
android/local.properties
android/.idea
android/app/src/main/assets/public
.gradle

# Capacitor iOS build output
ios/App/Pods
ios/App/App/public
ios/App/build
ios/.gradle
